<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__top footer_top">
            <div class="footer_top__logo">
                <img src="img/logo_footer_1.svg" alt="Logo">
                <img src="img/logo_footer_2.svg" alt="Logo">
                <img src="img/logo_footer_3.svg" alt="Logo">
                <img src="img/logo_footer_4.svg" alt="Logo">
            </div>
            <div class="footer_top__nav">
                <ul>
                    <li><a href="#/">Gutachter Buchen</a></li>
                    <li><a href="#/">Konzept</a></li>
                    <li><a href="#/">HÄufige fragen</a></li>
                    <li><a href="#/">Erfahrungen</a></li>
                    <li><a href="#/">Blogs</a></li>
                </ul>
                <ul>
                    <li><a href="#/">AGB</a></li>
                    <li><a href="#/">Datenschutz</a></li>
                    <li><a href="#/">Impressum</a></li>
                    <li><a href="#/">Jobs</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom footer_bottom">
            <div class="footer_bottom__socials">
                <a href="#/"><i class="fab fa-facebook-f"></i></a>
                <a href="#/"><i class="fab fa-instagram"></i></a>
                <a href="#/"><i class="fab fa-google-plus"></i></a>
                <a href="#/"><i class="fab fa-youtube"></i></a>
                <a href="#/"><i class="fab fa-pinterest"></i></a>
                <a href="#/"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="footer_bottom__copyright">
                <p>Copyright 2018. All Rights Reserved </p>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->