<!--begin preloader-->
<div class="overlay">
    <div class="overlay-loader container"><a href="/"><img src="img/logo.svg" alt="Logo"></a></div>
</div>
<!--begin header-->
<header class="header">
    <div class="header__top header_top">
        <div class="container">
            <div class="header_top__nav header_nav show_desctop">
                <ul>
                    <li><a href="">Gutachter Buchen</a></li>
                    <li><a href="">Konzept</a></li>
                    <li><a href="">Häufige Fragen</a></li>
                    <li><a href="">Erfahrungen</a></li>
                    <li><a href="">Blogs</a></li>
                </ul>
            </div>
            <div class=" header_top__nav header_nav nav_mobile show_mobile">
                <div class="nav_mobile__icon"></div>
                <ul>
                    <li><a href="">Gutachter Buchen</a></li>
                    <li><a href="">Konzept</a></li>
                    <li><a href="">Häufige Fragen</a></li>
                    <li><a href="">Erfahrungen</a></li>
                    <li><a href="">Blogs</a></li>
                </ul>
            </div>
            <div class="header_top__logo header_logo">
                <a href="/"><img src="img/logo.svg" alt="Logo"></a>
            </div>
            <div class="header_top__btn header_btn">
                <a href="#/">Bist du Gutachter?</a>
            </div>
        </div>
    </div>
    <div class="header__info header_info" style="background-image: url('img/bg_header.jpg')">
        <div class="container">
            <div class="header_info__text header_text">
                <h1 class="title">
                    <b>Expertengutachten</b></br>
                    von unabhängigen Sachverständigen
                </h1>
            </div>
            <div class="header_info__btn info">
                <a href="#/">
                    <i><img src="img/icon_info.svg" alt="Info"></i>
                    Gutachter Buchen
                </a>
            </div>
        </div>
    </div>
</header>
<!--end header-->
<!--begin features-->
<section class="features">
    <div class="container">
        <div class="features__wrapper features_wrap">
            <!--begin features item-->
            <div class="features_wrap__item features_item">
                <div class="features_item__number">
                    1
                </div>
                <div class="features_item__text">
                    <p>100% kostenlos</p>
                </div>
            </div>
            <!--end features item-->
            <!--begin features item-->
            <div class="features_wrap__item features_item">
                <div class="features_item__number">
                    2
                </div>
                <div class="features_item__text">
                    <p>ohne Verpflichtungen</p>
                </div>
            </div>
            <!--end features item-->
            <!--begin features item-->
            <div class="features_wrap__item features_item">
                <div class="features_item__number">
                    3
                </div>
                <div class="features_item__text">
                    <p>schnell und sicher</p>
                </div>
            </div>
            <!--end features item-->
        </div>
    </div>
</section>
<!--features features-->